<%# The log-in page %>
<div class="login">
    <div class="form">
    <h1>Sign in</h1>
    <%= google_sign_in(url: login_path) do %>
        Click below to sign in with Google or to create an account if you don't already have one.
        <%= image_submit_tag("btn_google_signin_light_normal_web.png", class: "image-responsive", style: "background-color: transparent", alt: "Signin with Google") %>
    <% end %>
    </div>
</div>